#################################################################################
#  Carrot Cache configuration file
#################################################################################

#
# List of all caches logical names, comma-separated
#
#cache.names=cache

#
# Caches types ('memory', 'file' only supported), comma-separated
#
#cache.types=memory

# 
#  Cache root directory - where to save cached data and snapshot
#
#root.dir.path=./data

#   
# Data segment size 
# Default is 4MB (Memory)
#data.segment.size=4194304

# 
# Maximum storage limit to use for cache 
# Default - 1GB
#storage.size.max=1073741824

# 
# When to start GC (garbage collection) - size of the cache as a fraction of the maximum cache size 
#
#scavenger.ratio.start=0.99

#
# When to stop GC (garbage collection) - size of the cache as a fraction of the maximum cache size
#
#scavenger.ratio.stop=0.9

# 
# Discard cached entry if it in this lower percentile - start value (minimum)
#
#scavenger.dump.entry.below.min=0.1

#
# Discard cached entry if it in this lower percentile - stop value (maximum) 
#
#scavenger.dump.entry.below.max=0.5


#
# Scavenger number of threads, increase this number if you have heavy writes
#
#scavenger.number.threads=1


#
# Number of popularity ranks (or bins to insert incoming writes to)
#
#popularity.number.ranks=8

#
# Minimum active data set ratio
# When vacuum mode is on, this parameter controls the goal for 
# a periodic vacuum process - minimum ratio of active to a total objects 
#
#active.dataset.ratio.min=0.9

#
# IO Pool size for FileIO save segments to disk
#
#storage.io.pool.size=4

# 
# Number of segments in S-LRU (Eviction)  do not change it
#
#eviction.slru.number.segments=8

# 
# New item insertion point for SLRU (Eviction)
#
#eviction.slru.insert.point=7

#
# Admission Queue start size in fraction of a full cache size
#
#admission.queue.size.ratio.start=0.5

# 
# Admission Queue minimum size in fraction of a full cache size
#
#admission.queue.size.ratio.min=0.1

# 
# Admission Queue maximum size in fraction of a full cache size
#
#admission.queue.size.ratio.max=0.5

#
# Promotion Queue start size in fraction of a full cache size
#
#promotion.queue.size.ratio.start=0.5

#
# Promotion Queue minimum size in fraction of a full cache size
#
#promotion.queue.size.ratio.min=0.1

#
# Promotion Queue maximum size in fraction of a full cache size
#
#promotion.queue.size.ratio.max=0.5

  
#
# Initial size of the MemoryIndex hash table, i.e size= 2**valueOf('index.slots.power')
# Default: 16 - 64K slots (2**16). To reduce objects collision probability keep this 
# number close to the maximum for your application. Let us say, that you estimate for 
# maximum number of objects in the cache is 100M. Your maximum size for the memory index
# hash table is 100M/200 = 0.5M and maximum value for this configuration option is log2(0.5M) ~ 20
# 
#index.slots.power=16

#
# Promote item from victim cache on hit. 
# This setting controls whether we allow objects to be inserted from a victim 
# back to a parent cache
#  
#victim.promotion.on.hit=true

#
# Victim cache promotion popularity threshold. Only objects which popularity is above 90%
# will be promoted back to a parent cache
#victim.promotion.threshold=0.9

#
# Cache write throughput check interval key  
#
#throughput.check.interval.sec=3600
  
#
# Cache write throughput controller tolerance limit
#
#throughput.tolerance.limit=0.05
  
#
# Throughput controller number of adjustment steps
#
#throughput.adjustment.steps=10


#####################    Plug-able API     
#
# Class name for main queue index format implementation
# BaseIndexFormat costs 20 bytes of RAM per object
# There are several formats to choose from whose RAM overhead ranges between 6 and 20 bytes
#
#index.format.impl=com.carrotdata.cache.index.BaseIndexFormat
  
#
# Class name for admission queue index format implementation
#
#index.format.aq.impl=com.carrotdata.cache.index.AQIndexFormat

#
# Class name for cache eviction policy implementation
#
#eviction.policy.impl=com.carrotdata.cache.eviction.SLRUEvictionPolicy
  
#
# Class name for cache admission controller implementation (no default)
#
#admission.controller.impl=

#
# Class name for cache promotion controller implementation (no default)
#
#promotion.controller.impl=

#
# Class name for cache throughput controller implementation (no default)
#
#throughput.controller.impl=
  
#
# Class name for cache recycling controller implementation (used by Scavenger). Default implementation
# chooses data segments based on its proportion of an active objects - 
# those with the smallest ones come first. Another good option - 
# com.carrotdata.cache.controllers.LRCRecyclingSelector - Least Recently Created
#
#recycling.selector.impl=com.carrotdata.cache.controllers.MinAliveRecyclingSelector
  
#
# Class name for cache data writer implementation. 
#
#data.writer.impl=com.carrotdata.cache.io.BaseDataWriter
  
#
# Class name for cache data reader implementation (Memory) - do not change it
#
#memory.data.reader.impl=com.carrotdata.cache.io.BaseMemoryDataReader
  
#
# Class name for cache data reader implementation (File) - do not change it
#
#file.data.reader.impl=com.carrotdata.cache.io.BaseFileDataReader
  
#
# Block writer block size - used by BaseBatchDataWriter and CompressedBaseBatchDataWriter
#
#block.writer.block.size=4096
  
#
# File prefetch buffer size - Scavenger scanner's setting
#
#file.prefetch.buffer.size=4194304
  
#
# Cache expiration support implementation 
# supports range 1 sec - ~ 32678 (2^15) min
# Another option - com.carrotdata.cache.expire.ExpireSupportSecondsMinutesHours,
# which supports range 1s - ~ 16K hours (2^14)
#
#expire.support.impl=com.carrotdata.cache.expire.ExpireSupportSecondsMinutes
  
#
# For expiration based admission controller - minimum expiration time supported in seconds
#
#expire.bin.value.start=60
  
#
# For expiration  based admission controller - bin value multiplier
#
#expire.multiplier.value=2
 
#
# JMX metrics domain name
#jmx.metrics.domain.name=com.carrotdata.cache


#
# Maximum wait time for put operation in ms
#
#cache.wait.put.max.ms=20

#
# Maximum key-value size (limited by data segment size as well)
#
#cache.max.kv.size = 268435448


#
# Maximum buffer size for thread local storage
#
#tls.buffer.size.max=268,435,456

############################
# Compression configuration
############################

#
# Cache compression enabled
#
#compression.enabled=false

#
# Compression block size
#
#compression.block.size=4096

#
# Compression dictionary size
#
#compression.dictionary.size=65,536

#
# Compression level (0-22 for ZSTD)
#
#compression.level=3

#
# Compression codec
#
#compression.codec=ZSTD

#
# Compression dictionary enabled
#
#compression.dictionary.enabled=true

#
# Train dictionary on keys as well?
#
#compression.keys.enabled=true

#
# Dictionary training mode (full async is not supported yet)
#
#compression.dictionary.training.async=true

#
# Save cache on process shutdown
#
#save.on.shutdown=false

#
# Estimated average key-value size in bytes. If you have good estimate
# for this value you can change it. This allows cache runtime to better 
# adjust its parameters.
#
#estimated.avg.kv.size=10240


#
# Pro-active expiration check probability (0-1)
# 
#proactive.expiration.factor=0.25

# 
# Object Cache initial output buffer size - not relevant for server
#  
#objectcache.buffer.size.start=64536

#
# Object Cache maximum output buffer size - not relevant for server
#
#objectcache.buffer.size.max=-1

#
# Vacuum cleaner interval in seconds
# Default: 60 seconds
#vacuum.cleaner.interval=60

#
# Evict all items to victim cache
#victim.evict.all=true